<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Topjava</display-name>
    <context-param>
        <param-name>username</param-name>
        <param-value>Vadmark</param-value>
    </context-param>

    <!--  Users  -->
    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <!--  Meals  -->
    <servlet>
        <servlet-name>mealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealServlet</servlet-name>
        <url-pattern>/meals</url-pattern>
    </servlet-mapping>

    <!--  Meal card  -->
    <servlet>
        <servlet-name>meal-card</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>meal-card</servlet-name>
        <url-pattern>/meal-card</url-pattern>
    </servlet-mapping>

    <!--  Meal delete  -->
    <servlet>
        <servlet-name>meal-delete</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>meal-delete</servlet-name>
        <url-pattern>/meal-delete</url-pattern>
    </servlet-mapping>

</web-app>
